*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

body{
    background: #000;
}

header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 100px;
    z-index: 100;
}

header .logo img{
    max-width: 150px;
}

.navigation{
    display: flex;
}

.navigation li{
    list-style: none;
    margin: 0 10px;
}

.navigation li a{
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    letter-spacing: 1px;
}

.navigation li:hover a{
    color: #de0611;
}

.banner{
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 0 100px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.banner .bg{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.content{
    position: relative;
    z-index: 1;
    max-width: 550px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.banner h4{
    color: #fff;
    font-size: 40px;
}

.banner p{
    color: #fff;
}

.banner .content .button{
    position: relative;
}

.banner .content .button {
    position: relative;
    display: inline-block;
    margin-right: 10px;
    background: #fff;
    color: #000;
    padding: 6px 20px;
    text-decoration: none;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
    border-radius: 5px;
}

.play{
    position: absolute;
    bottom: 50px;
    left: 100px;
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
    color: #fff;
    text-transform: uppercase;
    font-weight: 500;
    text-decoration: none;
    letter-spacing: 1px;
    font-size: 1.2em;
    cursor: pointer;
}

.play img{
    margin-right: 10px;
    max-width: 50px;
}

.trailer{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 100000;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(20px);
    visibility: hidden;
    opacity: 0;
}

.trailer.active{
    visibility: visible;
    opacity: 1;
}

.trailer video{
    max-width: 900px;
    outline: none;
}

.close{
    position: absolute;
    top: 30px;
    right: 30px;
    cursor: pointer;
    filter: invert(1);
    max-width: 32px;
}

.footer {
    max-width: 70%;
    margin: 1rem auto;
    overflow: auto;
}

.footer,
.footer a {
    color: #999;
    font-size: 0.9rem;
    text-decoration: none;
}

.footer p {
    margin-bottom: 1.5rem;
}

.footer .footer-cols {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 2rem;
}

.footer li {
    line-height: 1.9;
}

.footer .lang-select {
    margin-top: 2rem;
    color: #999;
    background-color: #000;
    background-image: none;
    border: 1px solid #333;
    padding: 1rem 1.2rem;
    border-radius: 5px;
}

.footer ul {
    list-style-type: none;
    
}

@media (max-width:991px) {
    header{
        padding: 20px 50px;
        flex-direction: column;
    }

    .navigation{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin: 10px 0;
    }

    .banner{
        padding: 100px 50px;
    }

    .banner .play{
        left: 50px;
        font-size: 1em;
    }

    .trailer video{
        max-width: 90%;
    }

    .footer .footer-cols {
        grid-template-columns: repeat(2, 1fr);
    }
}

.row__poster{
    width: 100%;
    object-fit: contain;
    max-height: 100px;
    margin-right: 10px;
    transition: transform 450ms;
}

.row__posters{
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;
    padding: 20px;
}

.row__poster:hover{
    transform: scale(1.08);
}

.row__posters::-webkit-scrollbar{
    display: none;
}

.row__posterLarge{
    max-height: 250px;
}

.row__posterLarge:hover{
    transform: scale(1.09);
}

.row{
    color: #fff;
    margin-left: 20px;
}